.bac {
	width: 300px;
	height: 400px;
	border: 1px solid whitesmoke;
	background: gainsboro;
	opacity: 0.7;
	border-radius: 10px;
	margin:0 auto;
	margin-top: 100px;
	overflow: hidden;
}

body {
	background: url(../images/laptop_1-wallpaper-1366x768.jpg)  ;
	 background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
}

.bac .login {
	margin-top: 10px;
	padding: 20px;
}
.bac .login .checkbox .demo2 {
	float: right;
}
.bac .login .checkbox .demo1 {
	margin-left: -10px;
}
.bac .login .btn {
	width: 100px;
	height: 40px;
}

.color1 {
	border: 1px solid cornflowerblue;
	border-radius: 1px;
	margin-left: 10px;
}



.color2 {
	border: 1px solid darkgray;
	border-radius: 1px;
	float: right;
	margin-right: 10px;
}

.registerBac {
	display: none;
	padding: 15px;
}
.registerBac h3 {
	text-align: center;
	margin-top: -10px;
}

.checkMark {
	width: 110px;
}

.registerBac img {
	float: right;
	margin-top: -34px;
}

.registerBac .registerBtn {
	margin-left: 60px;
	height: 40px;
	width: 150px;
	border: 1px solid cornflowerblue;
}

.back {
	border: 1px solid cornflowerblue;
}

.registerBac img {
	width: 102px;
	height:34px;
}

.tip {
	opacity: 0.7;
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	color: red;
}

#fm3 div {
	color: red;
	margin-top: 20px;
	text-align: center;
}
